body {
    background: #fafafa;
}

h2.page-title {
    font-weight: 700;
    font-size: 1.75rem;
}

.table-title {
    font-size: 1.75rem;
    letter-spacing: -1px;
    margin-bottom: 0;
}

#vote-list table {
    width: 100%;
    border-collapse: collapse;
    background: #fafafa;
}

#vote-total-table {
    /*border: none;*/
    background: #fafafa;
}

#vote-total-table td {
    font-size: 2.5rem;
    text-align: center;
}

/*th {
    font-size: 1rem !important;
}

td {
    font-size: .9rem !important;
    font-family: Helvetica, Arial, sans-serif;
}*/

#vote-list tbody tr:nth-child(odd) {
  background: #ddd;
}

#logo {
    font-family: georgia, serif;
    font-size: 24px;
}

.yes {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #00b000;
}

/*#yes {
    height: 25px;
    width: 100%;
    min-width: 65px;
    padding: 2.5px 0px 0px 0px;
    background: rgb(52, 128, 23);
    color: white;
    font-size: 13px;
    text-align: center;
}*/

.no {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #af0000;
}

.undecided {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #ffdb58;
}

.refused {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #000;
}

.didnotpoll {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #bbb;
}

/*.no {
    height: 25px;
    width: 100%;
    min-width: 65px;
    padding: 2.5px 0px 0px 0px;
    background: rgb(159, 0, 15);
    color: white;
    font-size: 13px;
    text-align: center;
}*/

#delayed {
    height: 25px;
    width: 100%;
    min-width: 65px;
    padding: 2.5px 0px 0px 0px;
    background: rgb(255, 166, 47);
    color: white;
    font-size: 13px;
    text-align: center;
}

#tbd {
    height: 25px;
    width: 100%;
    min-width: 65px;
    padding: 2.5px 0px 0px 0px;
    background: rgb(182, 182, 180);
    color: white;
    font-size: 13px;
    text-align: center;
}

#accident {
    height: 35px;
    width: 35px;
    max-width: 35px;
}

#unupdated {
    height: 25px;
    width: 65px;
    padding: 2.5px 0px 0px 0px;
    background: none;
}

#text-square {
    height: 11px;
    width: 11px;
    padding-bottom: 1px;
}

.button.expand {
    margin-bottom: 3px;
    font-family: Verdana, sans-serif;
    height: 40px;
    padding: 10px 0px 0px 0px;
}

#toggle-button {
    background: #8e1024;
    margin-top: 10px;
    height: 60px;
    font-style: italic;
}